<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jamf.agent.openJamfAdminGuide</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/open</string>
		<string>https://www.jamf.com/resources/product-documentation/jamf-pro-administrators-guide/</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>